<div class="post standard detail" >
<!-- ANGULAR TEMPLATING TEST -->
	
	<span ng-repeat="tag in post.taxonomy.category">
		<a href="{{tag.url}}">{{tag.name}}</a>
	</span>
	<div class="clearfix"></div>

	<div ng-vote-panel class="vote" style="width:50px; height:56px; background:#ccc; float:left; clear:both;">
		<button class="up"><i class="pwi-caret-up"></i></button>
		<div>{{post.post_points}}</div>
		<button class="down"><i class="pwi-caret-down"></i></button>
	</div>

	<h2 class="post_title" style="margin-top:0px; padding-left:60px;">
		<a href="{{post.post_permalink}}">{{post.post_title}}</a>
	</h2>

	<div class="clearfix"></div>

	<img src="{{post.image.thumbnail.url}}"
		style="width:150px; height:150px; background:#f3f3f3; float:left; margin:0 15px 10px 0; ">

	<div class="post_excerpt" ng-bind-html="post.post_excerpt"></div>

	<div class="clearfix"></div>
	
	<div class="post_footer clearfix">
		<img src="{{post.avatar.small.url}}" width="{{post.avatar.small.width/2}}" height="{{post.avatar.small.height/2}}">
		<a href="{{post.author.profile_url}}">{{post.author.display_name}}</a>
			• {{post.time_ago}}
			• <a href="{{post.post_permalink}}#comments"><i class="pwi-comment"></i> 56 Comments</a>
	</div>

	<div class="clearfix"></div>

<!-- ANGULAR TEMPLATING TEST -->
</div>
