<div class="post standard full">
<!-- ANGULAR TEMPLATING TEST -->
	
	<h1 style="font-size:24px;"><a href="{{post.post_permalink}}">{{post.post_title}}</a></h1>

	Points : {{post.post_points}} //
	Rank Score : {{post.rank_score}} //
	Post Format : {{post.link_format}} <br>
	{{post.time_ago}}<br>

	<img src="{{post.avatar.small.url}}" width="{{post.avatar.small.width/2}}" height="{{post.avatar.small.height/2}}"><a href="{{post.author.profile_url}}">{{post.author.display_name}}</a>
	<br><br>

	<div ng-switch="post.link_format">
		<ANY ng-switch-when="video">VIDEO EMBED : {{post.link_url}}</ANY>
		<div ng-switch-default></div>
	</div>

	<br>
	<img src="{{post.image.medium.url}}" style="float:right; margin:0 0 20px 20px;">
	
	<br><br>

	Tags :
	<span ng-repeat="tag in post.taxonomy.post_tag">
		• <a href="{{tag.url}}">{{tag.name}}</a>
	</span>
	<br>
	Categories :
	<span ng-repeat="tag in post.taxonomy.category">
		• <a href="{{tag.url}}">{{tag.name}}</a>
	</span>

	<div style="clear:both"></div>
<!-- END ANGULAR TEMPLATING TEST -->
</div>
