<div ng-controller="pwEmbedly">
	<div class="row" >
		<div class="form-group input-group col-md-10">
			<input type="text" class="form-control" placeholder="Enter Link URL" ng-init="link_url='http://www.youtube.com/watch?v=38peWm76l-U'" ng-model="link_url">	
		  	<span class="input-group-btn">
        		<button class="btn btn-primary" type="button" ng-click="embedlyGet()">Embedly Extract</button>
      		</span>      
		</div>
	</div>	
	<div class="row" >
		<div class="form-group input-group col-md-10">
			{{embedlyResponse}}
		</div>	
	</div>	
</div>