<script>
	feed_settings['feed2'] = {
		preload : 14,
		load_increment : 5,
		offset: 0,
		max_posts:200,
		order_by : '+post_points',
		panels : {
			'panel2'	: 'feed_header',	
		},
		view : {
			current : 'detail',
			options : ['list','detail', 'grid','full']
		},
		query_args : {
			// query args in JSON format
			'year'	: '2010',
			's'	: 'two',
		},
		feed_template: 'live_feed_2',	// Optional, needed in case of different widgets [having different panels for example] 
	};
</script>
<div live-feed='feed2' ng-include="templateUrl"></div>
