<script>
	feed_settings['feed1'] = {
		title: 'Live Feed - With Ads',
		preload : 10,
		load_increment : 5,
		offset: 0,
		max_posts:50,
		order_by : '-rank_score',
		panels : {
			'panel2'	: 'feed_header',	
		},
		blocks : {
			  offset:3,
			  increment: 3,
			  max_blocks:50,
			  template: 'ad-block'
		},
		view : {
			current : 'list',
		},
		query_args : {
			// query args in JSON format
			'year'	: '2009',
			's'	: 'two',
		},
		feed_template: 'live_feed_2',	// Optional, needed in case of different widgets [having different panels for example] 
	};	
</script>

<div live-feed='feed1' ng-include="templateUrl"></div>
