<script>
	feed_settings['front_page_features'] = {
			feed_id : 'testt', // add feed id here in case you want to override the name of the feed id
            preload : 4,
            load_increment : 5,
            offset: 0,
            max_posts:4,
            view : {
                current : 'detail',
                options : ['list','detail']
            },
			feed_template: 'load_feed_1',	// Optional, needed in case of different widgets [having different panels for example] 
        };	
</script>

<div load-feed="front_page_features" ng-include="templateUrl"></div>