<script type="text/javascript" charset="utf-8">
var load_comments = [];
load_comments['post_single'] = {
    query : {
        post_id : 133925, // 21853, // 133925, // 166220, // 21853, // 166220,
        status: 'approve',
	    orderby : 'comment_date',
        },
    fields : 'all',
    tree : true,
    order_options : {
        'comment_points' : 'Points',
        'comment_date' : 'Date'
        },
    min_points : 0,
};
</script>
<div class="row">
	<div class="col-md-8">
		<div streeview load-comments="post_single"></div>
	</div>		
</div>
