<script type="text/javascript" charset="utf-8">
var load_comments = [];
load_comments['post_single'] = {
    query : {
        post_id : 133925, // 21853, // 133925, // 166220, // 21853, // 166220,
        status: 'approve',
	    orderby : 'comment_date',
        },
    fields : 'all',
    tree : false,
    order_options : {
        'comment_points' : 'Points',
        'comment_date' : 'Date'
        },
    min_points : 60,
};
</script>

<style>
	.pregnant {
	  border: 1px solid #ddd;
	}
	
	.cm_author {
		color: red;
		font-weight: bolder;
	}
	
	#profile-description {
	    position:relative;
	}
	#profile-description .text {
	    margin-bottom: 5px; color: #777; padding: 0 15px; position:relative; font-family: Arial; font-size: 14px; display: block;
	}
	#profile-description .show-more, 
	#profile-description .show-less {
	    color: #777; position:relative; font-size: 12px; height: 20px; text-align: center; background: #f1f1f1; cursor: pointer;
	}
	#profile-description .show-more:hover,
	#profile-description .show-less:hover
	 { 
	    color: #1779dd;
	}
	#profile-description .showMoreHeight { height: 70px; overflow:hidden; }
	hr {
		margin-top: 4px;
	}	
	.icon-large {
		font-size: 18px;
		color: #999;
	}
	.error {
		padding: 3px;
	}
	.margin-bottom{
		margin-bottom: 5px;
	}
</style>
<div id="scrollDiv" class="row">
	<div class="col-md-6">
		<div streeview load-comments="post_single" ng-controller="TreeController">
				<div> view comments for post # {{data4.children[0].comment_post_ID}}
				</div>
			  <div>
				<select class="form-control" ng-model="orderBy" ng-options="code as name for (code,name) in orderOptions" ng-change="loadComments()" ng-init="loadComments()">
	        	</select>
			  </div>
			  <div ng-hide="commentsLoaded" class="text-center">
				Loading Comments &nbsp; <img src="{{pluginUrl}}/postworld/images/misc/ajax-loader.gif">
			  </div>			
			  <ul ng-show="commentsLoaded">
			    <div streeviewmodel ya-tree="child in data4.children at ul" ng-class="{minimized:child.minimized}" ng-init="OpenClose(child)">
			      <div>			      	
			      	<span ng-switch on="child.minimized">			      	
						<i ng-switch-when="true" class="icon-large glyphicon glyphicon-plus-sign" data-ng-click="toggleMinimized(child)"></i>
						<i ng-switch-when="false" class="icon-large glyphicon glyphicon-minus-sign" data-ng-click="toggleMinimized(child)"></i>
						<i ng-switch-default class="icon-large glyphicon glyphicon-minus-sign" data-ng-click="toggleMinimized(child)" ng-init="child.minimized=false"></i>
					</span>
					<span>
						<div class="glyphicon glyphicon-chevron-up" ng-click="karmaAdd(child)"></div>
						<div class="glyphicon glyphicon-chevron-down" ng-click="karmaRemove(child)"></div>
						</span>
					<span class="cm_author">{{child.comment_author}}</span>
					<span >&nbsp;.&nbsp;</span>
					<span title="{{ child.comment_date | date:'medium' }}">{{child.comment_date|timeago}}</span>
					<span >&nbsp;.&nbsp;</span>					
					<span ><strong>{{child.karmaPoints}}</strong> karma</span>					 
					<span >&nbsp;.&nbsp;</span>					
					<span ><strong>{{child.comment_ID}}</strong></span>					 
					<div class="indent" data-ng-show="!child.minimized">
				      	<span ng-switch on="child.editMode" ng-init="child.editMode=false">			      	
							<div ng-switch-when="true" >
							  	<textarea class="form-control margin-bottom" rows=6 ng-model="child.editText" ng-init="child.editText=child.comment_content" placeholder="What do you think..." ng-disabled="child.editInProgress"></textarea>
							  	<div ng-show="child.editError" class="pull-left alert alert-danger error" >
							  		{{child.editError}}
							  	</div>
							  	<div class=pull-right>
								  	<button type="button" class="btn btn-primary btn-sm" ng-click="editComment(child)" ng-disabled="child.editInProgress">Save</button>
								  	<button type="button" class="btn btn-default btn-sm" ng-click="child.editMode=false" ng-disabled="child.editInProgress">Cancel</button>
							  	</div>
								<div style='clear: both;'></div>												
							</div>
							<div ng-switch-when="false" id="profile-description">
					            <div ng-show-more class="text" class="showMoreHeight" ng-class={showMoreHeight:child.showMore} ng-bind-html="child.trustedContent" ng-init="trustHtml(child)">					            							            							               
					            </div>	
					            <div ng-show="child.showMore" class='show-more' ng-click="child.showMore=false;">More</div>					            
					            <div ng-show="!child.showMore && child.tall" class='show-less' ng-click="child.showMore=true;">Less</div>					            
							</div>
						</span>
						<div class="pull-right">
							<span ng-if="child.user_id==user_id">
								<span ng-click="toggleEditBox(child)" >edit</span>
								<span >&nbsp;.&nbsp;</span>								
							</span>
							<span ng-if="child.user_id==user_id">
								<span ng-click="toggleDeleteBox(child)">delete</span>
								<span >&nbsp;.&nbsp;</span>
							</span>
							<span ng-click="toggleReplyBox(child)" >reply</span>								
						</div>
						<hr>
					  	<div ng-show="child.replyBox">
						  	<textarea class="form-control margin-bottom" rows="3" ng-model="child.replyText" placeholder="What do you think..." ng-disabled="child.replyInProgress"></textarea>
						  	<div ng-show="child.replyError" class="pull-left alert alert-danger error" >
						  		{{child.replyError}}
						  	</div>
						  	<div class=pull-right>
							  	<button type="button" class="btn btn-primary btn-sm" ng-click="replyComment(child)" ng-disabled="child.replyInProgress">Reply</button>
							  	<button type="button" class="btn btn-default btn-sm" ng-click="child.replyBox=false" ng-disabled="child.replyInProgress">Cancel</button>
						  	</div>
						</div>
					  	<div ng-show="child.deleteBox">
						  	<div class=pull-right>
							  	<span class="alert-danger error" >Are you sure you want to delete this comment?</span>
							  	<button type="button" class="btn btn-primary btn-sm" ng-click="deleteComment(child)" ng-disabled="child.deleteInProgress">Delete</button>
							  	<button type="button" class="btn btn-default btn-sm" ng-click="child.deleteBox=false" ng-disabled="child.deleteInProgress">Cancel</button>
						  	</div>
						  	<div ng-show="child.deleteError" class="pull-left alert alert-danger error" >
						  		{{child.deleteError}}
						  	</div>
						</div>
						<div style='clear: both;'></div>												
					    <ul data-ng-show="!child.minimized" ng-class="{pregnant:child.children.length, indent:true}">
					    </ul>						
					</div>
			      </div>
			    </div>
			  </ul>
			  <div ng-show="commentsLoaded">
				  	<textarea class="form-control margin-bottom" rows="3" ng-model="data4.replyText" placeholder="What do you think..." ng-disabled="data4.replyInProgress"></textarea>
				  	<div ng-show="data4.replyError" class="pull-left alert alert-danger error" >
				  		{{data4.replyError}}
				  	</div>
				  	<div class=pull-right>
					  	<button type="button" class="btn btn-primary btn-sm" ng-click="replyComment(data4)" ng-disabled="data4.replyInProgress">New Comment</button>
				  	</div>
			</div>
			  
			<br><br><br>
		</div>
	</div>		
	<div class="col-md-6">
	</div>		
	<div style='clear: both;'></div>
</div>