[submodule "submodules/handlebars.js"]
	path = submodules/handlebars.js
	url = https://github.com/wycats/handlebars.js.git
[submodule "submodules/jquery-scrollspy"]
	path = submodules/jquery-scrollspy
	url = https://github.com/sxalexander/jquery-scrollspy.git
[submodule "submodules/Aqua-Resizer"]
	path = submodules/Aqua-Resizer
	url = https://github.com/syamilmj/Aqua-Resizer.git
