<div style="padding:10px; background:#f2f2f2">
		<div class="row">
			<div class="form-group input-group col-md-3">
				<input type="text" class="form-control" ng-model="feed_query.year"  placeholder="Year (YYYY)">
			</div>
			<div class="form-group input-group col-md-3">
				<input type="text" class="form-control" ng-model="feed_query.monthnum"  placeholder="Month (1-12)">
			</div>
			<div class="form-group input-group col-md-3">
				<input type="text" class="form-control" ng-model="feed_query.author_name"  placeholder="Autor Name">
			</div>
		</div>
		<div class="row">
			<div class="form-group input-group col-md-3">
				<input type="text" class="form-control" ng-model="feed_query.post_class"  placeholder="Post Class">
			</div>
			<div class="form-group input-group col-md-3">
				<input type="text" class="form-control" ng-model="feed_query.posts_per_page"  placeholder="Posts Per Page">
			</div>
		</div>
</div>