<div style="padding:10px; background:#f2f2f2">
	<div class="row">
		<div class="form-group input-group col-md-12">
		  <input type="text" class="form-control" placeholder="Search Keyword" ng-enter ng-model="feedQuery.s" >
		  <span class="input-group-btn">
        	<button class="btn btn-primary" type="button" ng-click="submit()">GO</button>
      	</span>      
		</div>		
	</div>
	<div class="row">		
		<div class="col-md-3 form-group">
			<select class="form-control" ng-model="feedQuery.order_by">
				<option value="rank_score" >Rank</option>
				<option value="post_points" >Points</option>
				<option value="modified">Modified</option>
				<option value="rand">Random</option>
				<option value="comment_count">Comment Count</option>
				<option value="date">Date</option>
			</select>
		</div>
		<div class="col-md-1 form-group">
			<button type="button" class="btn btn-default glyphicon" ng-class="clsOrder" ng-click="toggleOrder()" ng-model="feedQuery.order"></button>
		</div>
		<div class="col-md-4 form-group">
			<div class="btn-group">
			  <button type="button" class="btn btn-default glyphicon glyphicon-th" ng-click="changeFeedTemplate('detail')"></button>
			  <button type="button" class="btn btn-default glyphicon glyphicon-th-large" ng-click="changeFeedTemplate('list')"></button>
			  <button type="button" class="btn btn-default glyphicon glyphicon-th-list" ng-click="changeFeedTemplate('full')"></button>
			</div>		
		</div>
		<div class="form-group input-group col-md-4">
			<input type="text" class="form-control" ng-model="feedQuery.year"  ng-enter placeholder="Year (YYYY)">
		</div>		
		
	</div>
</div>