<style>
.infinite-scroll-auto {
	height: auto;
	overflow-y: scroll;
}
</style>

<div>
	<div class="row" >
			<div class="form-group input-group col-md-12">		
				<h2>{{title}} </h2>
				<div ng-show="message" class="alert alert-warning">{{message}}</div>
			</div>
	</div>
	<div class="row" >
			<div class="form-group input-group col-md-12">		
				<div filter-feed="panel2" ng-include="templateUrl" feed-id="args.feed_id" feed_query="args.feed_query" submit="pwRestart()"></div>
			</div>
	</div>	
	<input type="hidden">	
    <div id="scrollMe"  class="infinite-scroll1">
	  <div infinite-scroll='getNext()' infinite-scroll-disabled='busy' infinite-scroll-container='scrollDiv' ng-init="scrollDiv='#scrollDiv';">
	    <div ng-repeat='post in items' >
	    	<div feed-item ng-include="templateUrl" post="post" feed-id='args.feed_id'></div>
			<hr>
	      <div style='clear: both;'></div>
	    </div>
	    <div ng-show='busy' class="text-center"><img src="http://www.showoffimports.nl/sandbox/live/ajaxLoad.gif"></div>
	    <div ng-show='!busy' class="text-center"><strong>{{scrollMessage}}</strong></div>
	  </div>
  	</div>
</div>