
<div pw-edit-post
  ng-init="mode='quick-edit'"
  class="edit_post quick edit">

  <!-- LOADING -->
  <div ng-show="status=='loading'" style="text-align:center;">
    <i class="pwi-spinner pwi-spin pwi-large" style="font-size:48px;"></i>
  </div>

<!-- WRAPPER (Cloak until loaded) -->
  <div class="wrapper" ng-cloak ng-hide="status=='loading'">

    <!--//////////////////// HEADER ////////////////////-->
    <div class="modal-body">
    
      <header class="edit_post-menu module">
        <div class="col-sm-3">
          
        </div>

        <div class="col-sm-3">
          
        </div>

        <div class="col-sm-4">
          
        </div>


        <!-- BUTTONS -->
        <div class="col-sm-2 last">

          <button type="submit" ng-click="savePost()" class="btn btn-blue save pull-right">
            <span ng-switch="status">
              <i ng-switch-default class="pwi-save"></i>
              <i ng-switch-when="saving" class="pwi-spinner pwi-spin"></i>
              <i ng-switch-when="success" class="pwi-ok"></i>
              <i ng-switch-when="error" class="pwi-warning-sign"></i>
            </span>
            Save
          </button>


        </div>

        <div class="clearfix"></div>
      </header>



      <!--//////////////////// EDIT FIELDS ////////////////////-->

        <!-- POST TITLE -->
        <label class="inner">Title</label>
        <input class="labeled title" type="text" ng-model="post.post_title" placeholder="Post Title">

        <!-- POST EXCERPT -->
        <div class="post_excerpt">
          <label class="inner">Post Excerpt</label>
          <textarea id="post_excerpt" class="labeled" msd-elastic ng-textarea-filter data-maxlength="500" data-readmore="..."
            name="post_excerpt" ng-model="post.post_excerpt"></textarea>
        </div>

        <hr class="thin">

        <!--///// POST DETAILS /////-->
        <div class="post-details row">

          <!--/// LEFT COLUMN ///-->
          <div class="col-md-6">

            <!-- LINK URL -->
              <label class="inner">LINK URL</label>
              <input class="labeled" type="url" ng-model="post.link_url" placeholder="http://">
            
            <!-- POST FORMAT -->
            <div class="link_format">
              <span ng-repeat="format in link_format_meta" class="row-fluid">
                  <input type="radio" name="link_format" value="{{format.slug}}" ng-model="post.link_format" disabled />
                  <label>
                    <i class="{{format.icon}}"></i> <span ng-bind="format.name"></span>
                  </label>
              </span>
              <span ng-show="post.link_url.length">
                <span  style="float:right; padding:5px 10px;"><a href="{{post.link_url}}" target="_blank">View <i class="pwi-external-link"></i></a></span>
              </span>
            </div>


            <!-- TRASH -->
            <button class="red" ng-click="trashPost()"><i class="pwi-trash"></i> Trash</button>

            <!-- CANCEL -->
            <button class="gray" ng-click="close()">
              <i class="pwi-remove"></i> Cancel
            </button>
          
          </div>

          <!--/// RIGHT COLUMN ///-->
          <div class="col-md-6">
            <!-- TAXONOMY : TAGS -->
            <div class="post-details module taxonomy">
              <div ng-controller="tagsAutocomplete" class="tags">
                  <div ng-repeat="tag in tags_input_obj" class="tag">
                      <b>{{tag.name}}</b>
                      <button ng-click="removeTag('{{tag.slug}}')" class="gray">
                      <i class="pwi-remove"></i>
                    </button>
                  </div>
                  <div class="input-group">
                    <input type="text" typeahead-min-length="1" typeahead-loading="status" typeahead-wait-ms="500"
                      ng-change="queryTags()" typeahead-editable="1" ng-model="queryTag"
                      typeahead="tag.slug as tag.name for tag in tagOptions | filter:$viewValue | limitTo:20"
                      typeahead-on-select="addTag()" class="form-control blue">
                    <span class="input-group-btn">
                      <button class="btn btn-default blue" ng-click="newTag()"><i class="pwi-plus"></i> New Tag</button>
                    </span>
                  </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <!--///// EDITORS ONLY /////-->
          <div class="editors" ng-show="roles.editor">
            <hr>
            <h5>Editors Only</h5>
            <!-- TAXONOMY : SECTION -->
            <div class="labeled module">
              <label class="inner">Section</label>
              <select ng-model="post.tax_input.section[0]"
                ng-options="value.slug as value.name for value in tax_terms.section">
                <option value="">None</option>
              </select>
              <i class="select-arrow pwi-caret-down"></i>
            </div>
            <!-- TAXONOMY : TYPE -->
            <div class="labeled module">
              <label class="inner">Hilight</label>
              <select class="labeled" ng-model="post.tax_input.hilight[0]"
                ng-options="term.slug as term.name group by term.parent_name for term in tax_terms.hilight">
                <option value="">None</option>
              </select>
              <i class="select-arrow pwi-caret-down"></i>
            </div>
            <!-- POST CLASS -->
            <div class="labeled module">
              <label class="inner">Class</label>
              <select class="labeled" ng-model="post.post_class"
                ng-options="key as value for (key,value) in post_class_options">
              </select>
              <i class="select-arrow pwi-caret-down"></i>
            </div>
            <!-- POST AUTHOR OVER-RIDE -->
            <div class="labeled module">
              <label class="inner">Author</label>
              <!-- SECTION -->
              <span class='container-fluid' ng-controller="userAutocomplete">
                <input class="labeled" type="text" typeahead-min-length="2" typeahead-loading="status" typeahead-wait-ms="100"
                  ng-change="queryList()" typeahead-editable="0" ng-model="username"
                  typeahead="author.user_nicename as author.display_name for author in authors | filter:$viewValue | limitTo:20"
                  >
              </span>
            </div>
          </div>
          <!--///// END EDITORS ONLY /////-->


        </div>

    </div><!-- END MODAL BODY -->

  </div><!-- END WRAPPER -->

</div><!-- END CONTROLLER -->
