
<div>
    <div id="scrollMe"  class="infinite-scroll">
	  <div infinite-scroll='getNext()' infinite-scroll-disabled='busy' >
	    <div ng-repeat='post in items' >
	    	<div feed-item ng-include="templateUrl" post="post" feed-id='args.feed_id'></div>
			<hr>
	      <div style='clear: both;'></div>
	    </div>
	    <div ng-show='busy' class="text-center"><img src="http://www.showoffimports.nl/sandbox/live/ajaxLoad.gif"></div>
	    <div ng-show='!busy' class="text-center"><strong>{{scrollMessage}}</strong></div>
	  </div>
  	</div>
</div>
