/* Breakpoints */
@full:   	~"only screen and (min-width: @{screen-lg})";

@desktop-and-above:   ~"only screen and (min-width: @{screen-sm})";
@desktop:   ~"only screen and (min-width: @{screen-sm}) and (max-width: @{screen-md})";
@desktop-and-below:   ~"only screen and (max-width: @{screen-md})";

@tablet-and-above:   ~"only screen and (min-width: @{screen-xs})";
@tablet:    ~"only screen and (min-width: @{screen-xs}) and (max-width: @{screen-sm})";
@tablet-and-below:    ~"only screen and (max-width: @{screen-sm})";

@mobile:    ~"only screen and (max-width: @{screen-xs})";
