#poststuff .postworld{
	@import 'bootstrap/variables.less';
	@import 'bootstrap/mixins.less';
	@import 'bootstrap/buttons.less';
	@import 'bootstrap/button-groups.less';
	@import 'bootstrap/wells.less';

	/// HEADINGS ///

	h2.left{
		float: left;
		margin: 4px 10px 0px 5px;
		color:#555;
		font-size: 1.2em;
	}

	.well {
		margin-top:10px;

		h3{
			cursor:auto;
			padding: 8px 20px;
			margin:-20px;
			margin-top:-15px;
			margin-bottom:20px;
			border-bottom-color: #ddd;
		}

		.well{
			background: #fff;
		}
	}
	
	.indent{
		margin-left:24px;
	}

	/// BUTTONS ///
	.btn-group{
		label{
			background:#f2f2f2;
			border:1px solid #ccc;

			&.active{
				background:#444;
				color:#fff;
			}
		}
	}

	.btn-lg, .btn-lg label, .btn-lg .btn{
		font-size:24px;
	}

	table{
		td.label{
			text-align: right;
		}
		td.control{
			
		}
	}
	

}
