    <div class="well hoverwell">
        <div class="row"><h2 class="span6">
        	<strong>ID</strong>&nbsp;{{post.ID}}<br/>
        	<strong>Title</strong>&nbsp;{{post.post_title}}<br/>
        	<strong>Date</strong>&nbsp;{{post.post_date}}<br/>
        	<strong>Type</strong>&nbsp;{{post.post_type}}<br/>
        	<strong>Format</strong>&nbsp;{{post.post_format}}<br/>
        	<strong>Path</strong>&nbsp;{{post.post_path}}<br/>
        	<strong>Permalink</strong>&nbsp;{{post.post_permalink}}<br/>
        	<strong>Points</strong>&nbsp;{{post.post_points}}<br/>
        	<strong>Author</strong>&nbsp;{{post.author}}<br/>
        	<strong>Time Ago</strong>&nbsp;{{post.time_ago}}<br/>
        	<strong>Taxonomy</strong>&nbsp;{{post.taxonomy}}<br/>
        	<strong>Comment Count</strong>&nbsp;{{post.comment_count}}<br/>
        </h2></div>
    </div>
