<div class="row" >
		<div class="form-group input-group col-md-12">		
			<h2>Register Feed</h2>
		</div>
</div>
<div class="row" >
		<div class="form-group input-group col-md-12">		
			<div filter-feed="panel3" ng-include="templateUrl" feed-id="args.feed_id" feed_query="args.feed_query"></div>
		</div>
</div>
	<div class="row" >
			<div class="form-group input-group col-md-6">		
				<div filter-feed="panel1" ng-include="templateUrl" feed-id="args.feed_id" feed-query="args.feed_query" submit="pwRestart()"></div>
			</div>
			<div class="form-group input-group col-md-6">		
				<div filter-feed="panel2" ng-include="templateUrl" feed-id="args.feed_id" feed-query="args.feed_query" submit="pwRestart()"></div>
			</div>
	</div>
<input type="hidden">	
<div id="scrollMe" class="infinite-scroll">
  <div infinite-scroll='getNext()' infinite-scroll-disabled='busy' infinite-scroll-parent>
    <div ng-repeat='post in items' >
    	<div feed-item ng-include="templateUrl" post="post" feed-id='args.feed_id'></div>
		<hr>
      <div style='clear: both;'></div>
    </div>
    <div ng-show='busy' class="text-center"><img src="http://www.showoffimports.nl/sandbox/live/ajaxLoad.gif"></div>
    <div ng-show='!busy' class="text-center"><strong>{{scrollMessage}}</strong></div>
    <br><br><br>
  </div>
</div>
