/* Breakpoints */
@full:   				~"only screen and (min-width: @{screen-lg})";

@desktop-and-above:   	~"only screen and (min-width: @{screen-md})";
@desktop:   			~"only screen and (min-width: @{screen-md}) and (max-width: @{screen-lg})";
@desktop-and-below:   	~"only screen and (max-width: @{screen-lg})";

@mobile-lg-and-above:   ~"only screen and (min-width: @{screen-sm})";
@mobile-lg:   			~"only screen and (min-width: @{screen-sm}) and (max-width: @{screen-md})";
@mobile-lg-and-below:   ~"only screen and (max-width: @{screen-md})";

@mobile-md-and-above:   ~"only screen and (min-width: @{screen-xs})";
@mobile-md:   			~"only screen and (min-width: @{screen-xs}) and (max-width: @{screen-sm})";
@mobile-md-and-below:   ~"only screen and (max-width: @{screen-sm})";

@mobile-sm:   			~"only screen and (max-width: @{screen-xs})";



/* Lineage Breakpoints : DEPRECIATED */
@full:   				~"only screen and (min-width: @{screen-lg})";

@desktop-and-above:   	~"only screen and (min-width: @{screen-sm})";
@desktop:   			~"only screen and (min-width: @{screen-sm}) and (max-width: @{screen-md})";
@desktop-and-below:   	~"only screen and (max-width: @{screen-md})";

@tablet-and-above:   	~"only screen and (min-width: @{screen-xs})";
@tablet:    			~"only screen and (min-width: @{screen-xs}) and (max-width: @{screen-sm})";
@tablet-and-below:    	~"only screen and (max-width: @{screen-sm})";

@mobile:    			~"only screen and (max-width: @{screen-xs})";




